#!/usr/bin/make -f

# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --buildsystem=cmake

# Can't run ncurses tests in parallel
override_dh_auto_test:
	dh_ctest_test
	ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
		cd obj-x86_64-linux-gnu && make test
	endif
